<footer class="footer">
	<ul class="links-foot">
		<li><a href="<%= ENV['CMS_DOMAIN'] %>/pages/about">About</a></li>
		<li><a href="<%= ENV['CMS_DOMAIN'] %>/pages/terms-of-service">Terms Of Service</a></li>
		<li><a href="<%= ENV['CMS_DOMAIN'] %>/pages/privacy">Privacy</a></li>
		<li><a href="<%= ENV['CMS_DOMAIN'] %>/pages/fees">Fees</a></li>
		<li><a href="<%= ENV['CMS_DOMAIN'] %>/pages/faq">FAQ</a></li>
		<li><a href="<%= ENV['CMS_DOMAIN'] %>/pages/blog">Blog</a></li>
		<li><a href="<%= ENV['CMS_DOMAIN'] %>/pages/security">Security</a></li>
		<li><a href="<%= ENV['CORE_DOMAIN'] %>/swagger?url=/api/v2/swagger#/deposits">API</a></li>
		<li><a href="<%= ENV['CMS_DOMAIN'] %>/pages/support">Support</a></li>
		<li><a href="<%= ENV['STATUS_DOMAIN'] %>">Status</a></li>
		<li><a href="<%= ENV['CMS_DOMAIN'] %>/pages/contact">Contact</a></li>
	</ul>

	<ul class="social-foot">
		<li><a href="https://www.facebook.com/YugenTrade" title="Facebook"><i class="fa fa-facebook"></i></a></li>
		<li><a href="https://twitter.com/YugenTrade" title="Twitter"><i class="fa fa-twitter"></i></a></li>
		<li><a href="https://www.reddit.com/r/YugenTrade" title="Reddit"><i class="fa fa-reddit"></i></a></li>
	</ul>
	<div class="clear-fix"></div>
</footer>

